.row{"ng-init" => "init()", "ng-controller" => "DashboardCtrl"}

  .container
    = simple_form_for :board, url: "", method: nil, html: { class: "col-lg-8", name: "boardForm", "ng-submit" => "createBoard()" } do |f|
      = f.input :name, label: "Name", input_html: { "ng-model" => "boardName", "required" => "" }
      %div{"ng-show" => "boardForm['board[name]'].$dirty && boardForm['board[name]'].$invalid" }
        %span.has-error{"ng-show" => "boardForm['board[name]'].$error.required"}
          Name is required.

      .form-group
        = f.button :submit, "Add", class: "btn btn-primary", "ng-disabled" => "boardForm.$invalid"

  .container
    %ul{"ui-sortable" => "", "ng-models" => "boards"}
      %li.board.col-lg-3{"ng-repeat" => "board in boards", }
        {{ board.name }}
