.row{"ng-controller" => "DashboardController", "ng-init" => "init()"}

  .container
    = simple_form_for :board, url: "", method: nil, html: { class: "col-lg-8", name: "boardForm", "ng-submit" => "createBoard()" } do |f|
      = f.input :name, label: "Name", input_html: { "ng-model" => "boardName", "required" => "" }
      %div{"ng-show" => "boardForm['board[name]'].$dirty && boardForm['board[name]'].$invalid" }
        %span.has-error{"ng-show" => "boardForm['board[name]'].$error.required"}
          Name is required.

      .form-group
        = f.button :submit, "Add", class: "btn btn-primary", "ng-disabled" => "boardForm.$invalid"

  .container
    %ul{"ui-sortable" => "sortableOptions", "ng-model" => "boards"}
      %li.board.col-lg-3{"ng-repeat" => "board in boards | orderBy: 'priority'", }
        %a{href: "#", "editable-text" => "board.name", "onbeforesave" => "updateBoardName(board, $data)"}
          {{ board.name || 'empty' }}
        %br
        %p 
          Priority:
          {{ board.priority }}
        %span.label.label-danger{"ng-click" => "destroyBoard(board.id)"}
          Remove
        = link_to "Show", "/boards/{{board.id}}", "ng-href" => "/boards/{{board.id}}", class: "label label-info"
